body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(4, 162, 179);
}


/* navbar css starts here  */

.bg-light {
    background-color: rgb(2, 115, 127)!important;
}

.navbar-brand {
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #fff!important;
    font-size: 35px;
}

.nav-link {
    color: #fff!important;
    font-family: 'Noto Sans JP', sans-serif;
    float: right;
}

.nav-link:hover {
    background-color: #f3f1f1;
    color: #444!important;
}


/* navbar css ends here  */

.my-info {
    padding: 2rem 5rem;
    height: max-content;
    background-color: rgb(2, 115, 127);
    color: #ffffff;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
}

.btn-info {
    padding: 1rem 1.2rem;
    background-color: rgb(4, 162, 179)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover {
    background-color: #fff!important;
    color: rgb(4, 162, 179)!important;
}

/* footer css starts here */

footer {
    background-color: #fff;
    width: 100%;
}

.social-icons li {
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github {
    color: #24292e;
}

.linkedin {
    color: #0077b5;
}


/* footer css ends here  */